USE [master]
GO
/****** Object:  Database [CS6232-g5]    Script Date: 4/30/2021 4:32:30 PM ******/
CREATE DATABASE [CS6232-g5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS6232-g5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CS6232-g5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CS6232-g5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CS6232-g5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS6232-g5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS6232-g5]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[iid] [int] NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[pid] [int] NOT NULL,
	[time] [datetime] NOT NULL,
	[did] [int] NOT NULL,
	[reason] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[pid] ASC,
	[time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[iid] [int] NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Individual]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Individual](
	[iid] [int] IDENTITY(1,1) NOT NULL,
	[lname] [varchar](50) NOT NULL,
	[fname] [varchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[streetAddress] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[state] [char](2) NOT NULL,
	[zip] [char](5) NOT NULL,
	[phone] [char](10) NOT NULL,
	[ssn] [char](9) NOT NULL,
 CONSTRAINT [PK_Individual] PRIMARY KEY CLUSTERED 
(
	[iid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Individual] SET (LOCK_ESCALATION = DISABLE)
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTests](
	[pid] [int] NOT NULL,
	[appointmentDate] [datetime] NOT NULL,
	[code] [int] NOT NULL,
	[dateTaken] [datetime] NULL,
	[dateReturned] [datetime] NULL,
	[result] [varchar](255) NULL,
	[normal] [smallint] NULL,
 CONSTRAINT [PK_LabTests] PRIMARY KEY CLUSTERED 
(
	[pid] ASC,
	[appointmentDate] ASC,
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[privilege] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[nid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[iid] [int] NOT NULL,
 CONSTRAINT [PK_Nurse] PRIMARY KEY CLUSTERED 
(
	[nid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[iid] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialty](
	[did] [int] NOT NULL,
	[specialty] [varchar](50) NOT NULL,
	[description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Specialty] PRIMARY KEY CLUSTERED 
(
	[did] ASC,
	[specialty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[code] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visit]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[pid] [int] NOT NULL,
	[time] [datetime] NOT NULL,
	[nid] [int] NOT NULL,
	[weight] [numeric](5, 2) NOT NULL,
	[systolic] [int] NOT NULL,
	[diastolic] [int] NOT NULL,
	[temperature] [numeric](5, 2) NOT NULL,
	[pulse] [int] NOT NULL,
	[symptoms] [varchar](255) NOT NULL,
	[initialDiagnosis] [varchar](255) NOT NULL,
	[finalDiagnosis] [varchar](255) NULL,
 CONSTRAINT [PK_Visit] PRIMARY KEY CLUSTERED 
(
	[pid] ASC,
	[time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([aid], [username], [iid]) VALUES (1, N'Bruce01', 3)
INSERT [dbo].[Administrator] ([aid], [username], [iid]) VALUES (2, N'doe', 2)
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
INSERT [dbo].[Appointment] ([pid], [time], [did], [reason]) VALUES (10, CAST(N'2020-04-11T13:30:00.000' AS DateTime), 2, N'injury')
INSERT [dbo].[Appointment] ([pid], [time], [did], [reason]) VALUES (10, CAST(N'2020-11-11T14:30:00.000' AS DateTime), 1, N'injury')
INSERT [dbo].[Appointment] ([pid], [time], [did], [reason]) VALUES (10, CAST(N'2021-04-18T10:34:00.000' AS DateTime), 1, N'sickness')
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([did], [iid]) VALUES (1, 1002)
INSERT [dbo].[Doctor] ([did], [iid]) VALUES (2, 1003)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[Individual] ON 

INSERT [dbo].[Individual] ([iid], [lname], [fname], [dob], [streetAddress], [city], [state], [zip], [phone], [ssn]) VALUES (1, N'Doe', N'Jane', CAST(N'1980-04-04' AS Date), N'123 Main Street', N'New York City', N'WV', N'10011', N'8085551235', N'234112203')
INSERT [dbo].[Individual] ([iid], [lname], [fname], [dob], [streetAddress], [city], [state], [zip], [phone], [ssn]) VALUES (2, N'Doe', N'John', CAST(N'1982-12-12' AS Date), N'321 Main Street', N'New York City', N'NY', N'10012', N'8085551235', N'123456789')
INSERT [dbo].[Individual] ([iid], [lname], [fname], [dob], [streetAddress], [city], [state], [zip], [phone], [ssn]) VALUES (3, N'Wayne', N'Bruce', CAST(N'1961-12-12' AS Date), N'1 Wayne Manor', N'Gotham', N'NY', N'10000', N'8001234567', N'111223333')
SET IDENTITY_INSERT [dbo].[Individual] OFF
GO
INSERT [dbo].[LabTests] ([pid], [appointmentDate], [code], [dateTaken], [dateReturned], [result], [normal]) VALUES (10, CAST(N'2021-04-18T10:34:00.000' AS DateTime), 3, CAST(N'2021-04-19T09:14:00.000' AS DateTime), CAST(N'2020-04-20T15:30:48.877' AS DateTime), N'Negative', 0)
INSERT [dbo].[LabTests] ([pid], [appointmentDate], [code], [dateTaken], [dateReturned], [result], [normal]) VALUES (10, CAST(N'2021-04-18T10:34:00.000' AS DateTime), 5, CAST(N'2021-04-18T10:34:00.000' AS DateTime), NULL, N'Negative', 1)
INSERT [dbo].[LabTests] ([pid], [appointmentDate], [code], [dateTaken], [dateReturned], [result], [normal]) VALUES (11, CAST(N'2020-12-04T10:30:00.000' AS DateTime), 5, CAST(N'2020-12-05T08:30:00.000' AS DateTime), CAST(N'2020-12-07T10:30:48.877' AS DateTime), N'Positive', 0)
GO
INSERT [dbo].[Login] ([username], [password], [privilege]) VALUES (N'Bruce01', N'Mxl2fnhvPGl+sFgD6fLpKl64Sz5EwzXdHL8bUNC9Ql4=', N'Admin')
INSERT [dbo].[Login] ([username], [password], [privilege]) VALUES (N'doe', N'6bcTH0UvVdsUZt8DzpUL+2YIgFmxrWHhqoAzZEWnFz4=', N'Admin')
INSERT [dbo].[Login] ([username], [password], [privilege]) VALUES (N'jane', N'B7PUvYyb8l4PIsnis06eRDo6CLyMpzr0lZJdIqAdzg0=', N'Nurse')
GO
SET IDENTITY_INSERT [dbo].[Nurse] ON 

INSERT [dbo].[Nurse] ([nid], [username], [iid]) VALUES (1, N'jane', 1)
INSERT [dbo].[Nurse] ([nid], [username], [iid]) VALUES (2, N'Joe01', 4)
INSERT [dbo].[Nurse] ([nid], [username], [iid]) VALUES (3, N'Jessica', 1010)
SET IDENTITY_INSERT [dbo].[Nurse] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([pid], [iid]) VALUES (10, 1004)
INSERT [dbo].[Patient] ([pid], [iid]) VALUES (11, 1005)
INSERT [dbo].[Patient] ([pid], [iid]) VALUES (12, 1006)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([code], [name], [description]) VALUES (1, N'white blood cells count', N'To screen for or diagnose a variety of conditions that can affect the number of white blood cells (WBCs), such as an infection, inflammation or a disease that affects WBCs')
INSERT [dbo].[Test] ([code], [name], [description]) VALUES (2, N'Low-Density Lipoproteins', N'The direct low-density lipoprotein cholesterol test (direct LDL-C) measures the amount of LDL cholesterol, sometimes called "bad" cholesterol, in the blood. Elevated levels of LDL-C are associated with an increased risk of hardening of the arteries (atherosclerosis) and heart disease.')
INSERT [dbo].[Test] ([code], [name], [description]) VALUES (3, N'Hepatitis A', N'This test is used to detect early or recent infections and to diagnose the disease in people with symptoms of acute hepatitis. It may be performed as part of an acute viral hepatitis panel.')
SET IDENTITY_INSERT [dbo].[Test] OFF
GO
INSERT [dbo].[Visit] ([pid], [time], [nid], [weight], [systolic], [diastolic], [temperature], [pulse], [symptoms], [initialDiagnosis], [finalDiagnosis]) VALUES (10, CAST(N'2020-04-11T13:30:00.000' AS DateTime), 1, CAST(156.00 AS Numeric(5, 2)), 80, 0, CAST(98.60 AS Numeric(5, 2)), 99, N'Big Headache', N'Drank too much alcohol the day before', N'None currently entered')
INSERT [dbo].[Visit] ([pid], [time], [nid], [weight], [systolic], [diastolic], [temperature], [pulse], [symptoms], [initialDiagnosis], [finalDiagnosis]) VALUES (10, CAST(N'2020-11-11T14:30:00.000' AS DateTime), 2, CAST(145.00 AS Numeric(5, 2)), 125, 85, CAST(98.60 AS Numeric(5, 2)), 66, N'Stomach Pains', N'Patient is pregnant', NULL)
INSERT [dbo].[Visit] ([pid], [time], [nid], [weight], [systolic], [diastolic], [temperature], [pulse], [symptoms], [initialDiagnosis], [finalDiagnosis]) VALUES (10, CAST(N'2021-04-18T10:34:00.000' AS DateTime), 1, CAST(176.00 AS Numeric(5, 2)), 120, 80, CAST(98.50 AS Numeric(5, 2)), 71, N'Headache', N'Partied too hard. Patient needs to relax.', N'Drink Less Beer!')
GO
/****** Object:  Index [IX_Doctor]    Script Date: 4/30/2021 4:32:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctor] ON [dbo].[Doctor]
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Individual]    Script Date: 4/30/2021 4:32:30 PM ******/
ALTER TABLE [dbo].[Individual] ADD  CONSTRAINT [IX_Individual] UNIQUE NONCLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Test]    Script Date: 4/30/2021 4:32:30 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Test] ON [dbo].[Test]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Individual] FOREIGN KEY([iid])
REFERENCES [dbo].[Individual] ([iid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Individual]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Login] FOREIGN KEY([username])
REFERENCES [dbo].[Login] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Login]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([did])
REFERENCES [dbo].[Doctor] ([did])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH NOCHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([pid])
REFERENCES [dbo].[Patient] ([pid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[Doctor]  WITH NOCHECK ADD  CONSTRAINT [FK_Doctor_Individual] FOREIGN KEY([iid])
REFERENCES [dbo].[Individual] ([iid])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Individual]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_Test] FOREIGN KEY([code])
REFERENCES [dbo].[Test] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_Test]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_Visit] FOREIGN KEY([pid], [appointmentDate])
REFERENCES [dbo].[Visit] ([pid], [time])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_Visit]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Individual] FOREIGN KEY([iid])
REFERENCES [dbo].[Individual] ([iid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Individual]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Login] FOREIGN KEY([username])
REFERENCES [dbo].[Login] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Login]
GO
ALTER TABLE [dbo].[Patient]  WITH NOCHECK ADD  CONSTRAINT [FK_Patient_Individual] FOREIGN KEY([iid])
REFERENCES [dbo].[Individual] ([iid])
GO
ALTER TABLE [dbo].[Patient] NOCHECK CONSTRAINT [FK_Patient_Individual]
GO
ALTER TABLE [dbo].[Specialty]  WITH CHECK ADD  CONSTRAINT [FK_Specialty_Doctor] FOREIGN KEY([did])
REFERENCES [dbo].[Doctor] ([did])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Specialty] CHECK CONSTRAINT [FK_Specialty_Doctor]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Appointment] FOREIGN KEY([pid], [time])
REFERENCES [dbo].[Appointment] ([pid], [time])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Appointment]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Nurse] FOREIGN KEY([nid])
REFERENCES [dbo].[Nurse] ([nid])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Nurse]
GO
/****** Object:  StoredProcedure [dbo].[getMostPerformedTestsDuringDates]    Script Date: 4/30/2021 4:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMostPerformedTestsDuringDates]
	@startdate DateTime,
	@enddate DateTime
AS
BEGIN
	IF @startdate is null THROW 51000, 'The start date cannot be null', 1;  
	IF @enddate is null THROW 51000, 'The end date cannot be null', 1;
	IF @startdate > @enddate THROW 43000, 'Start date cannot be after end date', 1;

	DECLARE @all_tests int;
	CREATE TABLE #NormalTests (code int, normalTests decimal)
	SET NOCOUNT ON;

	SET @all_tests = 
	(
		select count(code) from dbo.labTests where @startdate <= dateTaken 
		and( @enddate >= dateReturned or dateReturned is null)  
		HAVING COUNT(code) > 1
	);


	SELECT t.code, t.name, COUNT(t.code) as times_taken, @all_tests as all_tests_taken, FORMAT(CAST(COUNT(t.code) AS DECIMAL) / @all_tests, 'P') as percent_of_all_tests, 






	FORMAT(CAST((SELECT COUNT(*) FROM dbo.LabTests WHERE code = t.code AND normal = 1)as decimal) / COUNT(t.code), 'P') as normal_results,

	FORMAT(CAST((SELECT COUNT(*) FROM dbo.LabTests WHERE code = t.code AND normal = 0)as decimal) / COUNT(t.code), 'P') as abnormal_results,





	FORMAT(CAST((SELECT COUNT(t.code) FROM LabTests t 
        INNER JOIN Patient p on t.pid = p.pid
        INNER JOIN Individual i on i.iid = p.iid
    WHERE (datediff(day, dateTaken, i.dob) / 365.25) > 17 and (datediff(day, dateTaken, dob) / 365.25) < 30) 
	
	as decimal) / COUNT(t.code), 'P')
	
	as age_18_29,


	FORMAT(CAST( (SELECT COUNT(t.code)
    FROM LabTests t 
        INNER JOIN Patient p on t.pid = p.pid
        INNER JOIN Individual i on i.iid = p.iid
    WHERE (datediff(day, dateTaken, i.dob) / 365.25) > 29 and (datediff(day, dateTaken, dob) / 365.25) < 40) 
	
	as decimal) / COUNT(t.code), 'P')

	as age_30_39,


	(SELECT FORMAT(CAST(COUNT(t.code) as decimal) / COUNT(t.code), 'P') 
    FROM LabTests t 
        INNER JOIN Patient p on t.pid = p.pid
        INNER JOIN Individual i on i.iid = p.iid
    WHERE (datediff(day, dateTaken, i.dob) / 365.25) < 18 or (datediff(day, dateTaken, dob) / 365.25) > 39 ) as other_ages

    

	FROM dbo.LabTests l inner join dbo.Test t on t.code = l.code
	WHERE @startdate <= dateTaken and (@enddate >= dateReturned or dateReturned is null)
    GROUP BY t.code, t.name
    HAVING COUNT(t.code) > 1
	ORDER BY times_taken DESC, t.code DESC;
END
GO
USE [master]
GO
